html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}

body {
	background: #FFF;
	color: #444;
	font: normal 85% sans-serif;
	/* line-height: 1.5; */
}

div.footer {
	text-align:center;
	margin: 10px 0 10px 0;
}

div.footer p {
	margin:0;
}

div.footer a:hover {color: #000;}

a:focus,a:hover {color: #039;}
a {
	color: #456;
	text-decoration: none;
}
a:hover {text-decoration: underline;}

div.button-block {
	margin-top:25px;
}

#center {
	padding-left:25px;
	padding-right:25px;
}

.left,.alignleft {float: left;}

.no-border {
	border-style: none;
}

table tbody tr.yellow-row {
	background-color: #f4edb1;
	background: #f4edb1;
}

table tbody tr.green-row {
	background-color: #a5dda5;
	background: #a5dda5;
}

table tbody tr.red-row {
	background-color: #ce8987;
	background: #ce8987;
}

div.ui-datatable-tablewrapper table tbody td {
	text-align:center;
}

.ui-icon.fa {
	text-indent:0px;
	background-image:none;
	font-size: initial;
 }
 
 #top div.ui-layout-unit-content.ui-widget-content {
 overflow:hidden;}
 
 div.title {
 text-align:center;
 }
 
 sub {
 font: normal 55% sans-serif;
 }
 i {
 font-style: italic;
 }
 
 #inputForm\:inputContent {
font-family: "Courier New", Courier, monospace
 }
 
 #inputForm table tr,  #inputForm table td {
 border:none;
 }